.logotype {
  display: block;
  margin: auto;
  margin-top: 1.8rem;
}

#navBar {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 1.2rem;
  display: flex;
  justify-content: flex-end;
  top: -5rem;
  left: -3rem;
}

.iconUser {
  width: 2.5rem;
  position: relative;
  bottom: 2.7rem;
  left: -2rem;
}

.iconUserSpace {
  margin-left: 1rem;
}

.iconicon {
  position: relative;
  bottom: 3rem;
  bottom: 2.7rem;
}